$background-main-color-first: #6eda78;
$background-main-color-second: #ffa200;

.App {
    text-align: center;
    background: linear-gradient(to right, $background-main-color-first, $background-main-color-second);
    min-height: 100vh;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.test-container {
    align-items: center; 
    border: 1px solid black; 
    border-radius: 10px; 
    background-color: white; 
    padding: 25px 100px;
}

.test-container:hover {
    background-color: $background-main-color-second;
    cursor: pointer;
}